{% extends 'base.html' %} 
{% block content %}
    <div>
        <H1>Video Submissions</H1>
    </div>
    <form method="post">
        <label for="videoURL">YouTube Video URL:</label>
        <input type="text" id="videoURL" name="videoURL">
        <button type="submit" id="submitVideo">Submit</button>
    </form>

    <div>
        <h2>Submitted Videos</h2>
        makes a list of previous videos
        <ul>
            {% for video in videoIds %}
                <li>{{ video.videoId }}</li>
                
        </ul>
        {% endfor %} 
    </div>

    <!-- embeds video into webpage -->
    
    {% for video in videoIds %}
    <div>
        <iframe width="550" height="315" src="https://www.youtube.com/embed/{{ video.videoId }}" frameborder="0" allowfullscreen></iframe>
        
        <!-- Comment input form -->
        <form id="commentForm_{{ video.videoId }}" onsubmit="addComment('{{ video.videoId }}'); return false;">
            <textarea id="commentText_{{ video.videoId }}" rows="2" cols="30"></textarea>
            <button type="submit">Add Comment</button>
        </form>
        
        <!-- Comment list -->
        <h3>Comments</h3>
        <ul id="commentList_{{ video.videoId }}"></ul>
    </div>
{% endfor %}
</div>
<!-- add the abiliity to view previous post -->

<div id="videoContainer"></div>
    {% endblock %} 